
.container-list-client{
    margin: 20px;
    padding: 10px;
}
.container-tabela {
    color: black;
    background-color: rgb(147, 156, 170);
    border: 1px solid rgb(0, 87, 128);
    border-radius: 6px;
    align-items: center;
    width: 100%;
}

tr{
    display: grid;
    grid-template-columns: .5fr 1.5fr 1fr 1fr 1fr;
}


.container-cliente {
    background-color: rgb(130, 130, 184);
    align-items: center;
    align-content: space-around;
    
}