
.container-tabela {
    color: black;
    background-color: rgb(147, 156, 170);
    border: 1px solid rgb(0, 87, 128);
    border-radius: 6px;
    align-items: center;
    width: 100%;
}
.container-cliente {
    background-color: rgb(130, 130, 184);
    border-spacing: 0px;
    border-collapse: inherit;
}