* {
    margin: 10;
    box-sizing: border-box;
    
}

h1{
    margin: 10px;
}

.container-dados-clientes{
    margin: 10px;
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    border: 1px solid #A0AEC0;
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
}
