section{
    margin: 10px;
    padding: 6px;
    align-items: center;
}

.container-link-home{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

h3{
    display: grid;
    padding: 20px;    
    border: 1px solid rgb(82, 79, 79);
    border-radius: 6px;
    justify-content: space-around;
    width: 50%;
    background-color: rgb(94, 125, 151);
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    
}