section{
    margin: 10px;
    padding: 6px;
    align-items: center;
}

.container-link-home{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

h3{
    display: grid;
    padding: 20px; 
    border: 1px solid rgb(82, 79, 79);
    border-radius: 6px;
    background-color: #649ae2;
    justify-content: space-around;
    width: 50%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3:hover{
    transition: .5s;
    scale: 1.1;
}