
nav{
    margin-left:0px;
    padding: 0px;
    height: 100%;
    background-color: rgb(145, 183, 221);
    border: 1px solid black;
    border-radius: 0px 20px 20px 0px;
    height: 90vh;
    width: 30vh;
}

.container-menu{
    margin-top:5px;
    padding: 5px;
    padding-bottom: 0px;
    height: 100%;
}

.container-nav-menu{
    display: grid;
    grid-template-rows: auto;
}

.container-lista-nav{
    margin: 2px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: aliceblue;
    color: black;
}

.container-lista-nav:hover{
    transition: .5s;
    transform: scale(1.05);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.container-icon{
    display: inline;
    float: right;
    color: rgb(145, 183, 221);
}

