*{
    margin: 0;
    padding: 0px;
}
body{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    background-color: rgb(221, 225, 247);
    height: 100%;
}
.paginacao{
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}